:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#header {
    height: 47px;
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#nav {
    font-size: 1.8rem !important;
    background-color: var(--black-color);
}